[submodule "HY240/HY240_project"]
	path = HY240/HY240_project
	url = https://github.com/papastam/HY240_project
[submodule "HY436"]
	path = HY436
	url = https://github.com/papastam/HY436
[submodule "HY340/HY340_Project"]
	path = HY340/HY340_Project
	url = https://github.com/papastam/HY340_Project
[submodule "HY360/HY360_project"]
	path = HY360/HY360_project
	url = https://github.com/papastam/HY360_project
[submodule "HY359/HY359_project"]
	path = HY359/HY359_project
	url = https://github.com/papastam/HY359_project
[submodule "HY435/HY435_Lab"]
	path = HY435/HY435_Lab
	url = https://github.com/papastam/HY435_Lab
[submodule "HY335a/HY335_project"]
	path = HY335a/HY335_project
	url = https://github.com/papastam/HY335_project
