[submodule "HY240/HY240_project"]
	path = HY240/HY240_project
	url = https://github.com/papastam/HY240_project
[submodule "HY436"]
	path = HY436
	url = https://github.com/papastam/HY436
[submodule "HY340/HY340_Project"]
	path = HY340/HY340_Project
	url = https://github.com/papastam/HY340_Project
